{% extends 'template.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block styles %}
{% endblock %}
<!-- {% block carrousel %}{% endblock%}
<section class="container row">
        <section class="sidebar container col-md-3">
            <p>Bonjour</p>
        </section>
        <section class="main-content container col-md-9"> -->
{% block content %}
        <div class="row">
            <div class="col-md-3">
                <div class="tile green">
                    <p class="title">Current Balance</p>
                    <h3>{{current_balance}}</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile green">
                    <p class="title">This month income</p>
                    <h3>{{current_month_income}}</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile blue">
                    <p class="title">This month Expense</p>
                    <h3>{{current_month_expense}}</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile blue">
                    <p class="title">Movement</p>
                    <h3>{{movement}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            <div class="box">
                <div class="box-content">
                <table class="table">
                    <tr><th></th><th>{{ today|date:"F" }}</th><th>{{ last_month|date:"F" }}</th></tr>
                    <tr>
                    <th>Income</th><td>{{ current_balance}}</td><td>{{ current_balance}}</td>
                    </tr>
                    <tr>
                    <th>Expenses</th><td class="text-red">{{ current_balance}}</td><td class="text-red">{{ current_balance}}</td>
                    </tr>
                    <tr>
                    <th>Difference</th><td {% if current_balance < 0 %} class="text-red"{% endif %}>{{ current_balance}}</td><td {% if current_balance < 0 %} class="text-red"{% endif %}>{{ current_balance}}</td>
                    </tr>
                </table>
                </div>
                
            </div>
            <div class="box">
                <div class="box-content">
                    <table class="table">
                    <tr><th>Account</th><th>Balance</th></tr>
                    {% for account in accounts %}
                        <tr>
                            <th>{{ account.name}}</th><td>{{ account.balance}}</td>
                        </tr>
                    {% endfor%}
                    </table>
                </div>
                </div>

            </div>

            <div class="col-md-9">
                <div class="box-body">
                    <canvas id="myChart" width="100%" style="min-height: 200;"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="box">
                <div class="box-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Transaction Type</th>
                            <th>Source Account</th>
                            <th>Destination Account</th>
                            <th>Amount</th>
                            <th>Category</th>
                            <th>Last Modified</th>
                            <th>date</th>
                            <th>Recurrence</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in recent_transactions %}
                        <tr>
                            <td>{{ transaction.title }}</td>
                            <td>{{ transaction.get_transaction_type_str }}</td>
                            <td>{{ transaction.src.name }}</td>
                            <td>{{ transaction.dst.name }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.category.name }}</td>
                            <td>{{ transaction.last_modified }}</td>
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.is_recurrence }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
        </div>
{% endblock %}
        </section>
</section>
{% block footer %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
var drawChart = function(res) {
  var ctx = document.getElementById("myChart").getContext('2d');
  var data = {
      labels: res.labels,
      datasets: []
  };
  var dataset = {
    label: 'Balance',
    fill: false,
    pointRadius: 2,
    backgroundColor: '#357ca5',
    borderColor: '#357ca5',
    data: res.data
  };
  data.datasets.push(dataset);
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          tooltips: {
              mode: 'index',
              position: 'nearest',
              intersect: false,
              caretSize: 0,
              caretPadding: 5
          },
          legend: {
            position: 'none'
          }

      }
  });
};
$.getJSON("{% url 'api_balance' %}", {}, function(res, status) {
  drawChart(res);
});
</script>
{% endblock %}